<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">AuthApp</li>
      <li routerLinkActive="is-active"><a [routerLink]="['home']">Inicio</a></li>
      <li routerLinkActive="is-active"><a [routerLink]="['precios']">Precios</a></li>
      <li routerLinkActive="is-active"><a [routerLink]="['protegida']">Protegida</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><button (click)="login()" class="button">Login</button></li>
    </ul>
  </div>
</div>
